<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAuaoj5hjpQVur19qt8c36nMEIbyhm9pDw</string>
	<key>GCM_SENDER_ID</key>
	<string>679715985787</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.rentApp</string>
	<key>PROJECT_ID</key>
	<string>sushiapi-a1466</string>
	<key>STORAGE_BUCKET</key>
	<string>sushiapi-a1466.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:679715985787:ios:e9d5bf6edf570db2eb85de</string>
</dict>
</plist>